.fretboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #be975b url('/images/wood-pattern.png');
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  border-radius: 8px;
  overflow: hidden;
}

.zeroFret {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 120px;
  background: #ffffdd;
  padding: 10px;
  border-right: 2px solid #bbb;
}

.string {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 60px;
}

.string:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: var(--string-thickness, 2px);
  background: linear-gradient(to right, #999, #333);
  z-index: -1;
}

.string-number {
  font-size: 14px;
  color: #444;
  margin-right: 10px;
}

.noteFret {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
}

.fret {
  display: flex;
  flex: 1;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #ccc;
}

.inlay.single {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.inlay.double {
  display: flex;
  justify-content: space-between;
  width: 20px;
}

.inlay.double::before,
.inlay.double::after {
  content: '';
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
}
